<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="todo" (ngSubmit)="criar()"> -->
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="titulo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="descricao"></ion-textarea>
    </ion-item>
    <ion-button (click)="criar()" expand="full">Salvar</ion-button>
  <!-- </form> -->
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Lista de eventos</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/" *ngFor="let item of eventolista">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>{{item.titulo}}</ion-label>
      <ion-label>{{item.descricao}}</ion-label>
    </ion-item>
    
  </ion-list>
    
</ion-content>
